<div class="footer">
  <div class="footer-container">
    <div>
      <picture>
        <source
          srcset="../img/footer-img-1-1x.png 1x, ../img/footer-img-1-2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../img/footer-img-1-tab-1x.png 1x,
            ../img/footer-img-1-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/footer-img-1-mob-1x.png 1x,
            ../img/footer-img-1-mob-2x.png 2x
          "
          media="(max-width: 768px)"
        />
        <img
          src="../img/footer-img-1-2x.png"
          alt="brokkoli"
          class="img-footer"
        />
      </picture>

      <div class="logo-svg">
        <svg width="16" height="16">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        <a href="./header.html">
          <p class="logo-footer">veggieboost</p>
        </a>
      </div>
    </div>

    <ul class="nav">
      <li id="How-It-Works" class="nav-list">
        <a href="./how-it-works.html"> How It Works</a>
      </li>
      <li id="Vegetables" class="nav-list">
        <a href="./vegetables.html">Vegetables</a>
      </li>
      <li id="Contacts" class="nav-list">
        <a href="">Contacts</a>
      </li>
    </ul>

    <div class="socials">
      <ul class="social-list">
        <li class="socials-svg">
          <a href="" target="_blank">
            <svg class="icon-footer">
              <use href="../img/icons.svg#icon-facebook" class="border"></use>
            </svg>
          </a>
        </li>
        <li class="socials-svg">
          <a href="" target="_blank">
            <svg class="icon-footer">
              <use href="../img/icons.svg#icon-instagram" class="border"></use>
            </svg>
          </a>
        </li>
        <li class="socials-svg">
          <a href="" target="_blank">
            <svg class="icon-footer">
              <use href="../img/icons.svg#icon-youtube" class="border"></use>
            </svg>
          </a>
        </li>
      </ul>

      <address class="address-footer">
        <ul>
          <li class="footer-tel">
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
          </li>
          <li class="footer-add">
            1678 S. Pioneer Road <br />
            Salt Lake City <br />
            UT 84104
          </li>
        </ul>
      </address>
    </div>
  </div>
</div>
