<header class="header">
  <div class="header-container">
    <nav class="header-navigation">
      <ul class="site-nav list">
        <li class="site-item">
          <a href="#how_it_works" class="site-link link">How It Works</a>
        </li>
        <li class="site-item">
          <a href="#vegetables" class="site-link link">Vegetables</a>
        </li>
        <li class="site-item">
          <a href="#contacts" class="site-link link">Contacts</a>
        </li>
      </ul>
      <a href="./index.html" class="logo link"
        ><svg class="logo-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">veggieboost</span>
      </a>
    </nav>
    <button type="button" class="mobile-menu-open" data-menu-open>
      <svg class="header-menu-open_icon" width="24" height="24">
        <use href="./img/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
    <button type="button" class="desktop-menu-order" data-modal-open>
      <svg class="desktop-menu-open_icon" width="24" height="24" stroke="black">
        <use href="./img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
  </div>
</header>
