<section class="hero">
<div class="hero-container">
  <div class="hero-wrap">
<ul class="hero-list list">
<li class="hero-item"><img class="hero-pics" src="../img/header-img-1-1x.png" alt="women"></li>
<li class="hero-item"><img class="hero-pics" src="../img/header-img-2-1x.png" alt="men"></li>
<li class="hero-item"><img class="hero-pics" src="../img/header-img-3-1x.png" alt="women2"></li>
<li class="hero-item"><img class="hero-pics" src="" alt=""></li>


</ul>
  </div>

<h1 class="hero-title">ORGANIC VEGITABLES 
    <span>TO YOUR DIET TODAY!</span></h1>
<p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
<button type="button" class="hero-btn">SHOP NOW</button>
<picture class="her-picture-main">
    <source
      srcset="../img/header-img-4-1x.png 1x, 
      ../img/header-img-4-2x.png 2x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="../img/header-img-4-tab-1x.png 1x,
      ../img/header-img-4-tab-2x.png 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="../img/header-img-4-mob-1x.png 1x,
      ../img/header-img-4-mob-1x.png 2x
      "
      media="(max-width: 767px)"
    />
    <img src="../img/header-img-4-1x.png" alt="women3"/>
  </picture>
  <ul class="hero-navigation list">
<li class="hero-navigation-item"><a href="" class="hero-navigation-link link">#organic</a></li>
    <li class="hero-navigation-item"><a href="" class="hero-navigation-link link">#products</a></li>
    <li class="hero-navigation-item"><a href="./modal.html" class="hero-navigation-link link">#basket</a></li>
    <li class="hero-navigation-item"><a href="./vegetables.html" class="hero-navigation-link link">#vegetables</a></li>
  </ul>
</div>
</section>