<div class="mobile-menu is-hidden" data-menu>
  <div class="mobile-menu-header">
    <a href="./index.html" class="logo link"
      ><svg class="logo-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <span class="logo-text">veggieboost</span>
    </a>
    <button class="mobile-menu_close-btn" data-menu-close>
      <svg class="mobile-menu_close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-modal-list list">
    <li class="mob-menu-item">
      <a href="./how-it-works.html" class="mobile-menu-link link"
        >How It Works</a
      >
    </li>
    <li class="mob-menu-item">
      <a href="./vegetables.html" class="mobile-menu-link link">Vegetables</a>
    </li>
    <li class="mob-menu-item">
      <a href="./footer.html" class="mobile-menu-link link">Contacts</a>
    </li>
    <li class="mob-menu-item">
      <button type="button" class="mobile-menu-order" data-modal-open>
        <svg
          class="mobile-menu-open_icon"
          width="24"
          height="24"
          stroke="white"
        >
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
<script src="menu.js"></script>
