<section class="vegetables container">
  <div class="vegetables-container">
    <h3 class="vegetables-topic">organic vegetables</h3>
    <p class="vegetables-info">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetable">
        <h3 class="veg-name">Carrot</h3>
        <p class="plant">plant</p>
        <picture>
          <source
            srcset="./img/carrot-img-1x.png 1x, ./img/carrot-img-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/carrot-img-tab-1x.png 1x,
              ./img/carrot-img-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/carrot-img-mob-1x.png 1x,
              ./img/carrot-img-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/carrot-img-mob-1x.png" alt="Carrot" />
        </picture>
        <p class="price">100 UAH / kg</p>
      </li>
      <li class="vegetable">
        <h3 class="veg-name">Brussel sprouts</h3>
        <p class="plant">plant</p>
        <picture>
          <source
            srcset="./img/brussel-img-1x.png 1x, ./img/brussel-img-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/brussel-img-tab-1x.png 1x,
              ./img/brussel-img-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/brussel-img-mob-1x.png 1x,
              ./img/brussel-img-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/brussel-img-mob-1x.png" alt="Brussel sprouts" />
        </picture>
        <p class="price">80 UAH / kg</p>
      </li>
      <li class="vegetable">
        <h3 class="veg-name">Tomato</h3>
        <p class="plant">plant</p>
        <picture>
          <source
            srcset="./img/tomato-img-1x.png 1x, ./img/tomato-img-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/tomato-img-tab-1x.png 1x,
              ./img/tomato-img-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/tomato-img-mob-1x.png 1x,
              ./img/tomato-img-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/tomato-img-mob-1x.png" alt="Tomato" />
        </picture>
        <p class="price">40 UAH / kg</p>
      </li>
      <li class="vegetable">
        <h3 class="veg-name">Eggpalnt</h3>
        <p class="plant">plant</p>
        <picture>
          <source
            srcset="./img/eggplant-img-1x.png 1x, ./img/eggplant-img-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/eggplant-img-tab-1x.png 1x,
              ./img/eggplant-img-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/eggplant-img-mob-1x.png 1x,
              ./img/eggplant-img-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/eggplant-img-mob-1x.png" alt="Eggplant" />
        </picture>
        <p class="price">60 UAH / kg</p>
      </li>
      <li class="vegetable">
        <h3 class="veg-name">Sweet potatoes</h3>
        <p class="plant">plant</p>
        <picture>
          <source
            srcset="./img/potatoes-img-1x.png 1x, ./img/potatoes-img-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/potatoes-img-tab-1x.png 1x,
              ./img/potatoes-img-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/potatoes-img-mob-1x.png 1x,
              ./img/potatoes-img-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/potatoes-img-mob-1x.png" alt="Sweet potatoes" />
        </picture>
        <p class="price">80 UAH / kg</p>
      </li>
      <li class="vegetable">
        <h3 class="veg-name">Leek</h3>
        <p class="plant">plant</p>
        <picture>
          <source
            srcset="./img/leek-img-1x.png 1x, ./img/leek-img-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/leek-img-tab-1x.png 1x, ./img/leek-img-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/leek-img-mob-1x.png 1x, ./img/leek-img-mob-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/leek-img-mob-1x.png" alt="Leek" />
        </picture>
        <p class="price">50 UAH / kg</p>
      </li>
      <li class="vegetable">
        <h3 class="veg-name">Mushrooms</h3>
        <p class="plant">plant</p>
        <picture>
          <source
            srcset="
              ./img/mushrooms-img-1x.png 1x,
              ./img/mushrooms-img-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/mushrooms-img-tab-1x.png 1x,
              ./img/mushrooms-img-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mushrooms-img-mob-1x.png 1x,
              ./img/mushrooms-img-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/mushrooms-img-mob-1x.png" alt="Mushrooms" />
        </picture>
        <p class="price">40 UAH / kg</p>
      </li>
      <li class="vegetable">
        <h3 class="veg-name">Corn</h3>
        <p class="plant">plant</p>
        <picture>
          <source
            srcset="./img/corn-img-1x.png 1x, ./img/corn-img-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/corn-img-tab-1x.png 1x, ./img/corn-img-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/corn-img-mob-1x.png 1x, ./img/corn-img-mob-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/corn-img-mob-1x.png" alt="Corn" />
        </picture>
        <p class="price">60 UAH / kg</p>
      </li>
      <li class="vegetable radish">
        <h3 class="veg-name">radish</h3>
        <p class="plant">plant</p>
        <picture>
          <source
            srcset="./img/radish-img-1x.png 1x, ./img/radish-img-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <img src="./img/radish-img-1x.png" alt="Radish" />
        </picture>
        <p class="price">60 UAH / kg</p>
      </li>
    </ul>
    <div class="container">
      <button type="button" class="order-button">
        <svg class="arrow-svg" width="14" height="14">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
        <span class="button-span">order</span>
      </button>
    </div>
  </div>
</section>
