<section class="cta container" id="contact">
  <div class="cta-block-container col-left">
    <h2 class="cta-title">Fresh Harvest Box has got you covered</h2>
    <p class="cta-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>

    <form class="form-cta">
      <label class="form-cta-phone">
        <input
          id="phone"
          type="tel"
          name="phone"
          class="cta-phone-input"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
          placeholder="+ 380 () "
        />
      </label>

      <button type="submit" class="popup-subscribe-button">Recall</button>
    </form>
  </div>

  <div class="cta-block col-right">
    <picture>
      <source
        srcset="
          ./img/will-call-img-1-1x.png 1x,
          ./img/will-call-img-1-2x.png 2x
        "
        media="(min-width: 1280px)"
      />

      <source
        srcset="
          ./img/will-call-img-1-tab-1x.png 1x,
          ./img/will-call-img-1-tab-2x.png 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./img/will-call-img-1-mob-1x.png 1x,
          ./img/will-call-img-1-mob-2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/will-call-img-1-tab-1x.png"
        alt="photo"
        width="704"
        height="463"
      />
    </picture>
  </div>
</section>
