:root {
  --main-text-color: #141414;
  --form-text-color: #c1bdbd;
  --modal-form-color: rgba(20, 20, 20, 0.5);
  --white-text-color: #ffffff;
  --background-dark-color: #a1c487;
  --background-light-color: #eaf7e5;
  --background-secondary-color: #faf3e7;
  --btn-background-color: #fc8a11;
  --logo-color: #77ac63;

  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--main-text-color);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
