.header {
  height: 50px;
}

.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  gap: 8px;
}

.logo-icon {
  fill: var(--logo-color);
}

.logo-text {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.desktop-menu-order {
  display: none;
}

.desktop-menu-open_icon {
  fill: var(--white-text-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 375px) {
}

/* tablet 0-767 */

@media screen and (min-width: 768px) {
  /* ======HEADER===== */

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }

  .site-nav {
    display: flex;
    gap: 14px;
    margin-right: 86px;
  }

  .logo-text {
    letter-spacing: -0.56px;
  }

  .site-link {
    color: var(--main-text-color);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
  }

  .mobile-menu-open {
    display: none;
  }

  .desktop-menu-open_icon {
    stroke: var(--main-text-color);
  }

  .desktop-menu-order {
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    height: 20px;
  }
}

/* DESKTOP  1280px */

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1278px;
  }

  .site-nav {
    gap: 20px;
    margin-right: 308px;
  }
  .site-link,
  .desktop-menu-order,
  .logo-text {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-link.link:hover,
  .site-link.link:focus,
  .logo-text:hover,
  .logo-text:focus {
    color: var(--background-dark-color);
  }

  .logo {
    display: flex;
    gap: 8px;
  }

  .desktop-menu-open_icon {
    width: 24px;
    height: 24px;
  }

  .desktop-menu-order {
    height: 24px;
  }

  .desktop-menu-open_icon:hover,
  .desktop-menu-open_icon:focus {
    stroke: var(--background-dark-color);
  }

  .desktop-menu-open_icon {
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
