.list {
    list-style: none;
    }
    
    .link {
    text-decoration: none;
    }

    @media screen and (max-width:767px) {
        .hero-container{
            width: 100%;
            padding: 48px 20px 20px 20px; 
        }
    }

.hero {
    background-color: var(--background-dark-color);
}

.hero-wrap{
    height: 44px;
    width: 129px;
}

.hero-list {
    display: flex;
    position: relative;

}

.hero-item {
    width: 44px ;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-text-color);
}

.hero-item:nth-child(2){
    position: absolute;
    left: 28px;
    z-index: 1;
}

.hero-item:nth-child(3){
    position: absolute;
    left: 56px;
    z-index: 2;
}

.hero-item:nth-child(4){
    position: absolute;
    left: 84px;
    z-index: 3;
}

.hero-pics{
    width: 40px;
    height: 40px;
    margin: 2px;
}
.hero-item-text{
text-align: center;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 14px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
line-height: 14px;
text-transform: uppercase;
padding-bottom: 22px;
}

.hero-item-span {
text-align: center;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 8px;
font-family: DM Sans;
font-style: normal;
font-weight: 400;
line-height: 10px;
padding-bottom: 10px;


}
.hero-title {
color: var(--white-text-color);
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 40px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
line-height: 44px;
letter-spacing: -0.1em;
text-transform: uppercase;
padding-top: 14px;
padding-bottom: 14px;
}

.hero-title-span{
    color:var(--background-light-color) ;
}

.hero-text {
color: var(--white-text-color);
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 14px;
font-family: DM Sans;
font-style: normal;
line-height: 18px;
letter-spacing: -0.01em;
}
.hero-btn {
    width: 68px;
    height: 68px;
    background-color:var(--background-secondary-color);
    color: var(--btn-background-color) ;
    border-radius: 90%;
    border: none;
    margin-top: 20px;
    transform: rotate(-14deg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus){
    background-color: var(--background-light-color);
    color: var(--background-dark-color);
}

.hero-picture-main{
margin: 0 auto;
}
.navigation-wrapper{
    width: 169px;
    height: 60px;
}
.hero-navigation {
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
gap: 4px;
padding-top: 16px;
padding-bottom: 20px;
}
.hero-navigation-item {
border-radius: 1000px;
border: 1px solid var(--white-text-color);
}
.hero-navigation-link {
color: var(--white-text-color);
background-color: transparent;
border: none;
text-align: center;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 12px;
text-transform: uppercase;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-navigation-link:is(:hover, :focus){
    background-color: var(--white-text-color);
    color: var(--main-text-color);
}
