.no-scroll {
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu.is-hidden {
  transform: translateX(100%);
  visibility: visible;
  opacity: 1;
  transition: transform 0.5s ease-in-out;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: var(--background-dark-color);
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.mobile-menu-header {
  background-color: var(--white-text-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.mobile-modal-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 124px;
}

.mobile-menu-link {
  color: var(--white-text-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
}

.mobile-menu_close-btn {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  height: 24px;
}

.header-menu-open_icon {
  fill: var(--logo-color);
}

.mobile-menu-open_icon {
  fill: var(--background-dark-color);
}

.mobile-menu_close-icon {
  stroke: var(--logo-color);
}

.mobile-menu-order,
.mobile-menu-open,
.desktop-menu-order {
  background: transparent;
  border: none;
  padding: 0;
  height: 24px;
}
