@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
  }

  .container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .vegetables {
    font-family: 'DM Sans', sans-serif;
    padding-top: 80px;
    justify-content: center;
    align-items: center;

  }

  .vegetables-topic {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .vegetables-info {
    max-width: 335px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    margin: 0 auto;
    margin-top: 14px;
  }

  .vagetables-container {
    width: 335px;
  }

  .vegetables-list {
    width: 100%;
    row-gap: 20px;
    margin-top: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vegetable {
    width: 335px;
    height: 443px;
    background-color: var(--background-light-color);
    border-radius: 20px;
    padding-top: 40px;
    padding-left: 20px;
  }

  .vegetable img {
    width: 292px;
    height: 249px;
    margin-top: 40px;
  }

  .plant {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    margin-top: 8px;
  }

  .veg-name {
    color: var(--main-text-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
  }

  .price {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    margin-top: 22px;
  }

  .redish {
    display: none;
  }


  .button-div {
    width: 65px;
    height: 28px;
  }

  .order-button {
    width: 80px;
    height: 80px;
    background-color: var(--btn-background-color);
    border-radius: 90%;
    border: none;
    margin-top: 20px;
    transform: rotate(-14deg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .arrow-svg {
    fill: var(--white-text-color);
    transform: rotate(14deg);
  }

  .button-span {
    color: var(--white-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .order-button:hover {
    background-color: var(--background-dark-color);
    border: none;
  }
}