.veg-cont {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
  }

  .veg-cont {
    padding: 0 20px;
  }

  .vegetables {
    font-family: 'DM Sans', sans-serif;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
  }

  .vegetables-topic {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .vegetables-info {
    max-width: 335px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    margin: 0 auto;
    margin-top: 14px;
  }

  .vagetables-container {
    width: 335px;
  }

  .vegetables-list {
    width: 100%;
    row-gap: 20px;
    margin-top: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vegetable {
    width: 335px;
    height: 443px;
    background-color: var(--background-light-color);
    border-radius: 20px;
    padding: 40px 20px 20px;
  }

  .vegetable img {
    width: 100%;
    height: 249px;
    margin-top: 40px;
    margin: 40px auto 0;
  }

  .plant {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    margin-top: 8px;
  }

  .veg-name {
    color: var(--main-text-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
  }

  .price {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    margin-top: 22px;
  }

  .radish {
    display: none;
  }

  .button-div {
    width: 65px;
    height: 28px;
  }

  .order-button {
    width: 80px;
    height: 80px;
    background-color: var(--btn-background-color);
    border-radius: 90%;
    border: none;
    margin-top: 20px;
    transform: rotate(-14deg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .arrow-svg {
    fill: var(--white-text-color);
    transform: rotate(14deg);
  }

  .button-span {
    color: var(--white-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .order-button:hover {
    background-color: var(--background-dark-color);
    border: none;
  }
}


/* ADAPTIVE TABLET */

@media screen and (min-width: 768px) {
  .vegetables-topic{
    color: var(--main-text-color);
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
  }
  
  .order-button:hover {
    background-color: var(--background-dark-color);
    border: none;
  }

  .vegetables-info{
    color: var(--main-text-color);   
    max-width: 557px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin: 0 auto;
    margin-top: 14px;
  }

  .vegetable {
    width: 342px;
    height: 465px;
    background-color: var(--background-light-color);
    border-radius: 20px;
    padding: 64px 0 24px 24px;
  }
  
  .vegetables-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  }

  .radish {
    display: none;
}
  
  .veg-name{
    color: var(--main-text-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.07em;
  }
  
  .plant{
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.0225em;
    text-transform: capitalize;
  }
  .price{
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.045em;
  }
  .order-button {
    width: 114px;
    height: 114px;
    background-color: var(--btn-background-color);
    border-radius: 90%;
    border: none;
    margin-top: 20px;
    transform: rotate(-14deg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-span{
  color: var(--white-text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.045em;
  text-transform: uppercase;
}
.arrow-svg{
  fill: var(--white-text-color);
}

.vegetables-container{
  max-width: 1060px;
}
}

/* ADAPTIVE DESKTOP */

@media screen and (min-width: 1280px) {
  .vegetables-container{
    max-width: 100%;
  }
  
  .order-button:hover {
    background-color: var(--background-dark-color);
    border: none;
  }
  .vegetable{
    padding: 64px 0 24px 24px;
    width: 389px;
  }
  .radish {
    display: block;
}
.vegetables-list {
  gap: 24px;
}
.vegetables-topic{
  color: var(--main-text-color);
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}
 .vegetables-info{
  color: var(--main-text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.045em;
 }
 .veg-name{
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.08em;
 }
 .plant{
  font-size: 18px;
  line-height: 24px;
 }
 .price{
  font-size: 18px;
  line-height: 24px;
 }
}
@media screen and (min-width: 1400px) {
  .vegetables-container{
    max-width: 1400px;
}
}